<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>NSPhotoLibraryUsageDescription</key>
    <string>The reason for this is to access photos in library</string>
	<key>NSCameraUsageDescription</key>
    <string>The reason for this is to access camera in the device</string>
	<key>NSMicrophoneUsageDescription</key>
    <string>The reason for this is to allow access to record video</string>
	<key>NSLocationWhenInUseUsageDescription</key>
    <string>The reason for this is to access location</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
    <string>The reason for this is to access location</string>
	<key>NSLocationAlwaysUsageDescription</key>
    <string>The reason for this is to access location</string>
	<key>NSLocationAlwaysAndWhenInUsageDescription</key>
    <string>The reason for this is to access location</string>
	<key>NSCalendarsUsageDescription</key>
    <string>The reason for this is to access calender</string>
	<key>NSContactsUsageDescription</key>
    <string>The reason for this is to access contacts</string>
	<key>NSBluetoothPeripheralUsageDescription</key>
    <string>The reason for this is to access contacts</string>
	<key>NSAppleMusicUsageDescription</key>
    <string>The reason for this is to access music</string>
	<key>NSMotionUsageDescription</key>
    <string>The reason for this is to access motion usage</string>
	<key>NSSpeechRecognitionUsageDescription</key>
    <string>The reason for this is to access speech recognition usage</string>
	<key>NSSiriUsageDescription</key>
    <string>The reason for this is to access siri</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
    <string>The reason for this is to access bluetooth</string>
	<key>CFBundleDisplayName</key>
	<string>For The Table</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>for_the_table</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<!-- <key>UIStatusBarStyle</key> -->
	<!-- <string>UIStatusBarStyleDefault</string> -->
	<!-- <string>UIStatusBarStyleLightContent</string> -->
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>FLTEnableImpeller</key>
  <false/>
	<key>GIDClientID</key>
	<!-- Copied from GoogleService-Info.plist key CLIENT_ID -->
	<string>807325107906-9jmjt7b8pf54mfadhf7iea2cd6f9dl9m.apps.googleusercontent.com</string>

	<!-- Google Sign-in Section -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<!-- Copied from GoogleService-Info.plist key REVERSED_CLIENT_ID -->
				<string>com.googleusercontent.apps.807325107906-9jmjt7b8pf54mfadhf7iea2cd6f9dl9m</string>
				<!-- FB App ID -->
				<string>fb1561842581070815</string>
			</array>
		</dict>
	</array>
	<!-- <key>FacebookAppID</key>
	<string>APP-ID</string>
	<key>FacebookClientToken</key>
	<string>84aa9e23e59fa5a424e16de0094af3a7</string>
	<key>FacebookDisplayName</key>
	<string>APP-NAME</string> -->
	<!-- End of the Google Sign-in Section -->

	<!-- Notification -->
	<key>UIBackgroundModes</key>
    <array>
      <string>fetch</string>
      <string>remote-notification</string>
    </array>
    <key>FirebaseAppDelegateProxyEnabled</key>
    <false/>
	<key>FlutterDeepLinkingEnabled</key>
    <true/>
    <key>APNs</key>
    <dict>
        <key>APNsEnvironment</key>
        <string>production</string>
    </dict>

</dict>
</plist>
