<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>for_the_table.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1.1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
				<key>dateExpires</key>
				<string>09/05/25</string>
				<key>type</key>
				<string>Apple Development</string>
			</dict>
			<key>embeddedBinaries</key>
			<array>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>App.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1.0</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Flutter.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>Toast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>4.1.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>camera_avfoundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>flutter_keyboard_visibility.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>fluttertoast.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.2</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geocoding_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.0.5</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>geolocator_apple.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>1.2.0</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>image_picker_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>path_provider_foundation.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>pointer_interceptor_ios.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>smart_auth.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.1</string>
				</dict>
				<dict>
					<key>architectures</key>
					<array>
						<string>arm64</string>
					</array>
					<key>buildNumber</key>
					<string>1</string>
					<key>certificate</key>
					<dict>
						<key>SHA1</key>
						<string>54C9A448409415C264C20CC4C054E8A79708FA73</string>
						<key>dateExpires</key>
						<string>09/05/25</string>
						<key>type</key>
						<string>Apple Development</string>
					</dict>
					<key>name</key>
					<string>sqflite.framework</string>
					<key>team</key>
					<dict>
						<key>id</key>
						<string>H23W3EERLK</string>
						<key>name</key>
						<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
					</dict>
					<key>versionNumber</key>
					<string>0.0.3</string>
				</dict>
			</array>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>H23W3EERLK.com.example.forTheTable</string>
				<key>com.apple.developer.team-identifier</key>
				<string>H23W3EERLK</string>
				<key>get-task-allow</key>
				<true/>
			</dict>
			<key>name</key>
			<string>Runner.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>b262c10b-c4fa-4afa-a5cc-2adf5efec70e</string>
				<key>dateExpires</key>
				<string>21/06/25</string>
				<key>name</key>
				<string>iOS Team Provisioning Profile: com.example.forTheTable</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>H23W3EERLK</string>
				<key>name</key>
				<string>WEBSKITTERS TECHNOLOGY SOLUTIONS PRIVATE LIMITED</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0.1</string>
		</dict>
	</array>
</dict>
</plist>
